@import "../mixins.scss";

.loginContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: var(--text1);
  width: 100%;
  background-color: var(--bg1);
  padding: 20px 10px;
  min-width: 300px;
  height: 100vh;
  @include md {
    background-image: url("../assets/image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  .formContainer {
    background-color: var(--bg2);
    padding: 24px 0px;
    width: 80%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid var(--text2);
    z-index: 999;
    box-shadow: var(--shadow);
    .loginTitle {
      font-size: 20px;
      margin: 0;
      letter-spacing: 1px;
      color: var(--text2);
      font-weight: 600;
    }
    .inputContainer {
      display: flex;
      flex-direction: column;
      width: 80%;
      label {
        margin-bottom: 10px;
        font-weight: 500;
        color: var(--text2);
        letter-spacing: 0.5px;
      }
      input {
        border: none;
        height: 36px;
        padding: 0px 10px;
        border-radius: 6px;
        color: var(--text1);
        background-color: var(--bg1);
        font-weight: 500;
        outline: none;
        font-size: 14px;
        &:focus {
          border: 2px crimson solid;
        }
        @include md {
          font-size: 16px;
          height: 40px;
        }

        &::-webkit-input-placeholder {
          color: var(--text1);
          font-weight: 400;
        }
      }
    }
    .checkbox {
      width: 80%;
      display: flex;
      align-items: center;
      input {
        height: 16px;
        width: 16px;
      }
      label {
        margin-left: 10px;
        font-size: 14px;
      }
    }
    h1 {
      font-size: 30px;
      margin-bottom: 0;
      span {
        color: var(--text2);
      }
    }
    p {
      font-size: 14px;
      font-weight: 500;
      color: var(--text1);
      span {
        margin-left: 10px;
        color: var(--text2);
        font-weight: 600;
        font-size: 20px;
      }
    }
    button {
      height: 36px;
      border: none;
      font-size: 16px;
      border-radius: 6px;
      background: crimson;
      color: white;
      font-weight: 400;
      letter-spacing: 0.6px;
      padding: 0px 20px;
      &:active {
        border: 2px solid var(--text2);
      }
      &:hover {
        border: 2px solid var(--text2);
      }
    }
  }
}
